*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    display: grid;
    place-items:center;
    text-align: center;
}
h1{
    margin-bottom: 2rm;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;

}